<div class="lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col overflow-hidden bg-gray-900">
    <div class="flex-grow flex-col gap-y-5 overflow-y-auto px-6">
        <div class="flex h-16 shrink-0 items-center">
            <img class="h-8 w-auto" [src]="sideBar.appIconUrl" alt="Your Company">
        </div>
        <nav class="flex flex-1 flex-col">
            <ul role="list" class="flex flex-1 flex-col gap-y-2 pt-4" *ngFor="let side of sideBar.sideBar">
                <div *ngIf="side.type === SideBarTye.SUB" class="text-xs font-bold leading-6 text-gray-400">{{side.title}}</div>
                <li *ngFor="let child of side.children">
                    <a [routerLink]="child.url"
                       class="bg-gray-900 hover:bg-gray-800 text-white group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                        <ng-icon *ngIf="side.type === SideBarTye.MAIN" [name]="child.icon" size="1.3rem"
                                 class="text-gray-400 group-hover:text-gray-500 mr-3 h-6 w-6 flex-shrink-0"></ng-icon>
                        <span *ngIf="side.type === SideBarTye.SUB"
                              class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-700 bg-gray-800 text-[0.625rem] font-medium text-gray-400 group-hover:text-white">{{child.symbol}}</span>
                        {{child.title}}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="flex flex-shrink-0 border-t border-gray-900 pb-4">
        <a href="#"
           class="flex items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-white">
            <img class="h-8 w-8 rounded-full bg-gray-800"
                 [src]="sideBar.profile.avatarUrl" alt="avatar">
            <span aria-hidden="true">{{sideBar.profile.username}}</span>
        </a>
    </div>
</div>
