<main class="pl-72 bg-gray-100">
    <div class="flex flex-wrap overflow-hidden">
        <div class="w-full sm:w-1/2 overflow-x-hidden">
            <!-- First container -->
            <wraith-password-head></wraith-password-head>
        </div>
        <div class="w-full sm:w-1/2 overflow-x-hidden">
            <!-- Second container -->
            <div
                    class="scrollbar scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-300 h-screen bg-gray-200 dark:bg-gray-800">
                <div>

                </div>
            </div>
        </div>
    </div>
</main>
