<div class="scrollbar scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-300 h-screen mx-2">
    <div class="px-6 pb-4 pt-6">
        <h2 class="text-lg font-medium text-gray-900 dark:text-white">Passwords</h2>
        <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">Search password of {{totalElements}} passwords</p>
        <form class="mt-6 flex gap-x-4" action="#">
            <div class="min-w-0 flex-1">
                <label for="search" class="sr-only">Search</label>
                <div class="relative rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <ng-icon name="heroMagnifyingGlassSolid" size="1.05rem"></ng-icon>
                    </div>
                    <input type="search" name="search" id="search"
                           class="focus:outline-none block w-full rounded-md border-0 py-1.5 pl-10 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                           placeholder="Search">
                </div>
            </div>
        </form>
    </div>
    <nav class="min-h-0 flex-1 overflow-y-auto" aria-label="Directory">
        <div class="relative">
            <ul role="list" class="relative z-0 divide-y divide-gray-900">

                <li *ngFor="let password of passwords">
                    <div class="relative flex items-center space-x-3 px-6 py-5 hover:bg-passwraith-semi rounded-md">
                        <div class="flex-shrink-0">
                            <img class="h-10 w-10 rounded-full"
                                 [src]="password.website_icon_url"
                                 alt="">
                        </div>
                        <div class="min-w-0 flex-1">
                            <div class="focus:outline-none">
                                <!-- Extend touch target to entire panel -->
                                <span class="absolute inset-0" aria-hidden="true"></span>
                                <p class="text-sm font-medium text-gray-900 dark:text-white">{{password.website}}</p>
                                <p class="truncate text-sm text-gray-500 dark:text-gray-400">{{password.username}}</p>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</div>
